*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#07131d;
    height:100dvh;
    overflow:hidden;
}

/* MAIN CHAT */

.chat-container{

    width:100%;

    max-width:900px;

    height:100dvh;

    margin:auto;

    background:#08131c;

    display:flex;

    flex-direction:column;
}

/* TOP */

.top{

    background:#1c2c38;

    padding:18px;

    text-align:center;

    flex-shrink:0;
}

.top h1{

    color:white;

    font-size:38px;

    margin-bottom:8px;
}

.top h3{

    color:#00d084;

    font-size:20px;
}

/* MESSAGE AREA */

#messages{

    flex:1;

    overflow-y:auto;

    padding:15px;

    display:flex;

    flex-direction:column;

    gap:10px;
}

/* MESSAGE */

.message{

    background:#1f2d3a;

    color:white;

    padding:12px;

    border-radius:14px;

    max-width:80%;

    word-wrap:break-word;

    font-size:16px;
}

/* BOTTOM */

.bottom{

    display:flex;

    align-items:center;

    gap:10px;

    padding:12px;

    background:#1c2c38;

    flex-shrink:0;
}

/* INPUT */

.bottom input{

    border:none;

    outline:none;

    border-radius:14px;

    padding:14px;

    font-size:16px;
}

/* NAME */

#name{

    width:110px;
}

/* MESSAGE */

#message{

    flex:1;
}

/* BUTTON */

.bottom button{

    border:none;

    background:#00c896;

    color:white;

    padding:14px 18px;

    border-radius:14px;

    font-size:16px;

    cursor:pointer;
}

/* MOBILE */

@media(max-width:768px){

    .top{

        padding:14px;
    }

    .top h1{

        font-size:26px;
    }

    .top h3{

        font-size:16px;
    }

    #messages{

        padding:10px;
    }

    .message{

        max-width:90%;

        font-size:14px;
    }

    .bottom{

        padding:10px;

        gap:6px;
    }

    #name{

        width:90px;

        padding:12px;

        font-size:14px;
    }

    #message{

        padding:12px;

        font-size:14px;
    }

    .bottom button{

        padding:12px 16px;

        font-size:14px;

        min-width:70px;
    }

}